html 
    head 
        title Index page 
        style.
            * { background-color:green;}
        script(src="http://code.jquery.com/jquery-1.12.4.min.js")
        script.
            $(function(){
                var alpha = 0;
            });
    body    
        h1 Hello jade 
        h2 Lorm ipsum 
        hr
        a(href="http://www.naver.com") Go to Naver